.navContainer {
  display: flex;
  justify-content: space-between !important;
  align-items: flex-start;
  position: fixed;
  top: 3.6%; 
  width: 60%; 
  left: 50%; 
  transform: translateX(-50%); 
  color: #0D1B2A;
}

.navItem {
  padding: 8px;
  font-size: 17px;
  font-family: "Imprima", sans-serif;
  color: #0D1B2A;
  text-decoration: none;
  transition: color 0.3s;
}

.navItem:hover {
  color: #778da9; 
}

.exit{
  position: fixed;
  top: 3.8%; 
  width: 3%;
  left: 90%; 
}

.add{
  width: 2.9vw;
}

.menu {
  display: none;
}

@media (width <= 760px)
{
  .navContainer {
    background-color: #E0E1DD;
    border: 1px solid #778da9;
    z-index: 1;
  }

   .exit {
    width: 30px;
    height: 30px;
   }

   .menu {
    display: flex;
    width: 30px;
    height: 30px;
   }
}



