.navContainer {
  display: flex;
  justify-content: space-between !important;
  align-items: flex-start;
  position: fixed;
  top: 3.7%; 
  width: 40%; 
  left: 50%; 
  transform: translateX(-50%); 
}

.navItem {
  padding: 8px;
  font-size: 17px;
}

.exit{
  position: fixed;
  top: 3.8%; 
  width: 3%;
  left: 90%; 
}