.logo {
    position: absolute;
    left: 5%;
    top: 4.5%;
}

.img {
    position: absolute;
    left: 5%;
    top: 26%;
    width: 1.7%;
}

.card {
    background-color: #415a77a2;
    width: 15vw;
    height: 43vh;
    border-radius: 10%;
}

.label {
    font-weight: 700;
    font-size: 22px;
    margin: 0;
}

.alinha{
    margin-top: 20px;
    display: flex;
    flex-direction: column !important;
    align-items: flex-start !important;
    margin-left: 0 !important;
}

.container{
    align-items: flex-start !important;
}

.vaga{
    margin-top: 45px;
}

.vagas{
    margin-top: 100px;
    font-size: 40px !important;
    font-weight: bold !important;
    color: #0D1B2A;
    text-align: left;
}