.logo {
    position: absolute;
    left: 5%;
    top: 4.5%;
}

.img {
    position: absolute;
    left: 5%;
    top: 26%;
    width: 1.7%;
}

.card {
    position: relative;
    background-color: #415a77a2;
    width: 58vw;
    height: 58vh;
    border-radius: 4%;
    padding: 20px; /* Adiciona um espaçamento interno */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: #0D1B2A; /* Cor do texto dentro do card */
  }
  
  .h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .p {
    margin: 5px 0;
  }
  
  .input[type="text"],
  .input[type="float"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    box-sizing: border-box; /* Evita que o padding afete a largura total */
  }
  